html,
body {
    margin: 0;
}

button {
    cursor: pointer;
}


* {
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

.form-group {
    margin: 10px 0 20px 30px;
    padding: 10px 24 20px 12px;
    position: relative;
}

.form-group > label {
    /* display: block; */
    /* margin-bottom: 5px; */
    position: absolute;
    top: 16px;
    left: 30px;
    color: #a9a9a9;
    padding: 0 8px;
    background-color: white;
    transition: all 0.12s ease;
}

.form-group > input {
    width: 100%;
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 48px;
}

.form-group > input:focus + label, .form-group > input:valid + label {
    color: #040505;
    top: -9px;
    left: 30px;
}

.form-group > input ~ span {
    display: none;
}

.form-group > input:invalid {
    border-color: red;
}

.form-group > input:invalid ~ span {
    display: block;
    color: red;
}

.form-group > button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    background-color: #58a1ff;
    color: white;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}



/* input {
    border: 5px solid blue;
    border-radius: 5px;
}  */

/* input:focus {
    outline: 5px solid red; } */

div[role='navigation'] {
    background-color: aqua;
    padding: 30px;
    border: 1px solid blue;
    border-radius: 5px;
    margin: 20px;
}

div[role*='nav'] > a {
    color:#040505;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    padding: 0 10px;
    display: block;
    margin-bottom: 8px;
}



